{% capture content %}
  <div class="featured">
    {% for current in posts limit:1 %}
      {% assign type = "featured" %}
      {% include 'includes/post-excerpt' %}
    {% endfor %}
  </div>

  {% if site.meta['hero'] == "true" %}
    <div class="hero">
      <div class="inner">
        <h2>Say hello to <span class="logo">femme.</span></h2>
        <p><span class="logo">femme</span> is a brand new online women's fashion magazine. Written by Marist College fashion design students Katherine Janiszewski and Emma Gage, we explore runway and ready-to-wear fashions.</p>
        <nav>
          <a class="btn white" href="/about">Read More</a>
        </nav>
      </div>
    </div>
  {% endif %}

  <div class="non-featured">
    {% for current in posts offset:1 %}
      {% assign type = "non-featured" %}
      {% include 'includes/post-excerpt' %}
    {% endfor %}
  </div>
{% endcapture %}

{% include 'layouts/default' %}
