/*
  Femme.
    file: css/src/application.scss
*/

@import "lib/base";


/*
  I. Universal
*/

body {
  background: $base;
  color: $text;
  font: 18px/1.75em $serif;
}

a {
  border-bottom: 1px solid darken($light-grey, 5%);
  color: $text;
  text-decoration: none;

  &:hover {
    color: $primary;
  }
}

blockquote {
  border-left: 3px solid $light-grey;
  color: $dark-grey;
  padding-left: rhythm(0.5);
}

h1 {
  @include adjust-font-size-to(2em);

  font-family: $display;
  text-transform: lowercase;

  a {
    border: none;
    color: $text;

    &:hover {
      color: lighten($text, 15%);
    }

    &:after {
      content: ".";
    }
  }
}

h3, h4, h5, h6 {
    font-weight: bold;
    margin-top: 1rem;

    & + * {
        margin-top: rhythm(0.5, 18px) !important;
    }
}

h3 {
  @include adjust-font-size-to(24px);
}

h4 {
  @include adjust-font-size-to(18px);
}

h5, h6 {
    color: $dark-grey;
    text-transform: uppercase;
}

h5 {
  @include adjust-font-size-to(14px);
}

h6 {
  @include adjust-font-size-to(12px);
}

img {
  max-width: 100%;

  &.avatar {
    @include border-radius(50%);
  }
}

figure {
  a {
    border: none;
  }

  figcaption.copyright {
    @include adjust-font-size-to(10px);

    color: darken($light-grey, 5%);
    font-family: $sans-serif;
    line-height: 10px;
  }
}

p + p {
  margin-top: rhythm(0.5);
  text-indent: 2em;
}

blockquote, ul, ol {
  margin: rhythm(1) 0;
}

ul, ol {
  li {
    padding-left: rhythm(0.25);
    margin-left: rhythm(1.5);
  }
}

ul li {
  list-style-type: disc;
}

ol li {
  list-style-type: decimal;
}

span.logo {
  font-family: $display;
  text-transform: lowercase;
}


/*
  II. Header
*/

header#header {
  @include container;

  margin-bottom: rhythm(0.5);
  margin-top: rhythm(2);
  padding: 0 rhythm(1);

  section {
    @include span(6 of 12);
  }

  nav {
    @include span(last 6 of 12);

    letter-spacing: 0.5px;
    font-family: $sans-serif;
    font-weight: 500;
    text-transform: uppercase;

    a {
      border: none;
      color: $grey;

      &:hover {
        color: $dark-grey;
      }
    }

    ul {
      @include adjust-font-size-to(12px);

      float: right;
      margin-top: rhythm(1);

      li {
        display: inline-block;

        & + li {
          margin-left: 1em;
        }
      }
    }
  }
}


/*
  III. Main
*/

main {
  .hero {
    background: $text;
    color: $base;
    margin: rhythm(2) auto;
    text-align: center;

    .inner {
      @include container;
      // margin: rhythm(2) auto;
      padding: rhythm(5);

      @media (max-width: $tablet-large) {
        padding: rhythm(1) !important;
      }
    }

    section {
      @include span(last 12 of 12);
    }

    h2 {
      @include adjust-font-size-to(36px);

      span {
        font-family: $display;
      }
    }

    p {
      font-family: $sans-serif;
    }

    nav {
      margin-top: rhythm(0.5);
    }
  }

  .non-featured {
    margin-top: rhythm(2);
  }

  footer {
    @include container;

    margin-top: rhythm(2);

    nav {
      @include span(last 12 of 12);

      li {
        display: inline-block;
        list-style-type: none;

        &.newer {
          float: left;
        }

        &.older {
          float: right;
        }
      }
    }
  }

  .page {
    @include container;

    margin-top: rhythm(2);
    padding: 0 rhythm(1.5);

    header {
      margin-bottom: rhythm(1);

      h2 {
        @include adjust-font-size-to(24px);

        font-weight: bold;
      }
    }
  }
}


footer#footer {
  @include leading-border(1px, 1);

  border-color: $light-grey;
  color: $grey;
  margin-top: rhythm(4);
  margin-bottom: rhythm(2);
  padding-left: rhythm(1.5);
  padding-right: rhythm(1.5);

  a {
    border: none;
  }

  .inner {
    @media (min-width: $tablet-large) {
      @include container;

      padding-bottom: rhythm(2);

      section {
        @include span(8 of 12);
      }

      nav {
        @include span(last 4 of 12);
      }
    }

    @media (max-width: $tablet-large) {
      section, nav {
        @include container;
      }

      nav {
        ul {
          float: left;
        }
      }
    }
  }

  section {
    @include adjust-font-size-to(14px);
    @include span(8 of 12);
  }

  nav {
    @include span(last 4 of 12);

    a {
      &.twitter:hover {
        color: $twitter;
      }

      &.facebook:hover {
        color: $facebook;
      }

      &.instagram:hover {
        color: $instagram;
      }

      &.rss:hover {
        color: $rss;
      }
    }

    ul {
      float: right;
      margin: 0;

      li {
        display: inline-block;
        margin: 0;
        padding: 0;

        & + li {
          margin-left: 1em;
        }
      }
    }
  }
}
