{% capture tags %}
  {% for tag in current.taxonomy.tags %}
    <a href="{{ tag.url }}">{{ tag.value | capitalize }}</a>
  {% endfor %}
{% endcapture %}

<article class="post single">
  {% if current.assets.size > 0 %}
    <div class="slides">
      {% for asset in current.assets %}
        <img src="{{ asset.url }}" />
      {% endfor %}
      {% if current.assets.size > 1 %}
          <nav>
            <a class="previous"><i class="ss-icon">previous</i></a>
            <a class="next"><i class="ss-icon">next</i></a>
          </nav>
      {% endif %}
    </div>
  {% endif %}
  <section>
    <header>
      <h2><a href="{{ current.url }}">{{ current.title }}</a></h2>
      <div class="meta">
        <p><span class="author">{{ current.author.fullname }}</span> on <span class="timestamp">{{ current.date | date: "%A, %B %-d, %Y" }}</span>{% if current.taxonomy.tags.size > 0 %} in {{ tags }}{% endif %}</p>
      </div>
    </header>
    {{ current.body }}
    {% if site.meta['comments'] == true %}
      <footer class="comments">
        {% include 'includes/comments' %}
      </footer>
    {% endif %}
  </section>
</article>
